@mixin bgColor($color){
  background-color: $color;
}
@mixin sectionWrapper($imgPath){
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background: url($imgPath);
  height: $section_height;
}
@mixin bgTransparency {
  &::after {
    content: "";
    background-color: rgb(2, 0, 0);
    @include opacity(0.45);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
}
@mixin posFront{
  z-index: 99;
  position: relative;
}

@mixin titleStyle{
  font-size: $font_size_title;
  font-weight: lighter;
}

@mixin rectBG{
  &::before{
    content: "";
    background-color: white;
    width: 9.375rem;
    height: 8.125rem;
    @include border-radius(5px, 5px);
    position: absolute;
    z-index: -1;
  }
}