$document_height: auto;
$document_width: 80rem;
$footer_height: 1.3125rem;
$section_height: 42rem;
$font_open_sans: 'Open Sans', sans-serif;
$font_size_nav: 0.875rem;
$font_size_input: 0.843rem;
$font_size_title: 1.9375rem;
$font_size_subtitle: 1.0625rem;
$main_font_color: white;
$bg_color_send: rgb(41, 170, 225);