body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: black; }
  body a {
    text-decoration: none;
    color: white; }
  body a:hover {
    color: gray; }
  body .mainWrap {
    width: 1280px;
    height: 2407px;
    margin: 0 auto; }
    body .mainWrap #join {
      display: block;
      position: relative;
      background-repeat: no-repeat;
      background: url("../PSDs/imgs/applyFormBG.jpg");
      height: 672px; }
      body .mainWrap #join > div header {
        width: 90%;
        height: 67.2px;
        margin: 0 auto; }
        body .mainWrap #join > div header .logo {
          width: 29%;
          display: inline-block;
          z-index: 99;
          position: relative; }
        body .mainWrap #join > div header nav {
          font-size: 14px;
          z-index: 99;
          position: relative;
          width: 70%;
          display: inline-block;
          bottom: 30%; }
          body .mainWrap #join > div header nav ul {
            float: right;
            margin: 0;
            padding: 0;
            border: 0;
            overflow: hidden;
            *zoom: 1; }
            body .mainWrap #join > div header nav ul li {
              list-style-image: none;
              list-style-type: none;
              margin-left: 0;
              white-space: nowrap;
              float: left;
              padding-left: 25px;
              padding-right: 25px; }
              body .mainWrap #join > div header nav ul li:first-child {
                padding-left: 0; }
              body .mainWrap #join > div header nav ul li:last-child {
                padding-right: 0; }
              body .mainWrap #join > div header nav ul li.last {
                padding-right: 0; }
      body .mainWrap #join > div .content {
        display: block;
        width: 80%;
        margin: 0 auto;
        height: 604.8px;
        z-index: 99;
        position: relative; }
        body .mainWrap #join > div .content .promoText {
          display: inline-block;
          width: 45%;
          height: 80%;
          vertical-align: top;
          margin: 0 2.5%; }
          body .mainWrap #join > div .content .promoText .title {
            margin-top: 20%;
            width: 90%;
            margin-left: 10%;
            font-size: 31px;
            font-weight: lighter; }
          body .mainWrap #join > div .content .promoText .subtitle {
            width: 90%;
            margin-left: 10%;
            font-size: 17px; }
        body .mainWrap #join > div .content .applyWrap {
          display: inline-block;
          vertical-align: top;
          width: 45%;
          height: 80%;
          margin-left: 2.5%; }
          body .mainWrap #join > div .content .applyWrap .applyForm {
            width: 80%;
            height: 80%;
            background-color: #020000;
            border: 1px solid white;
            -moz-border-radius: 5px / 5px;
            -webkit-border-radius: 5px 5px;
            border-radius: 5px / 5px;
            margin-top: 15%;
            margin-left: 10%; }
            body .mainWrap #join > div .content .applyWrap .applyForm > span {
              font-size: 17px;
              font-weight: bold;
              width: 80%;
              float: right;
              margin-top: 7%;
              margin-bottom: 2%; }
            body .mainWrap #join > div .content .applyWrap .applyForm .fieldGroup {
              height: 80%;
              width: 72%;
              margin: 0 auto;
              display: flex; }
              body .mainWrap #join > div .content .applyWrap .applyForm .fieldGroup > table {
                font-size: 13.5px;
                table-layout: fixed;
                width: 100%;
                height: 80%;
                display: table; }
              body .mainWrap #join > div .content .applyWrap .applyForm .fieldGroup table td {
                width: 94%;
                height: 10%;
                display: inline-block;
                white-space: nowrap;
                margin-bottom: 2%; }
                body .mainWrap #join > div .content .applyWrap .applyForm .fieldGroup table td input {
                  width: 100%;
                  color: black;
                  height: 35px;
                  border: 0px;
                  padding-left: 5%;
                  -moz-border-radius: 5px / 5px;
                  -webkit-border-radius: 5px 5px;
                  border-radius: 5px / 5px; }
                body .mainWrap #join > div .content .applyWrap .applyForm .fieldGroup table td button {
                  width: 100%;
                  height: 37px;
                  border: 0px;
                  -moz-border-radius: 5px / 5px;
                  -webkit-border-radius: 5px 5px;
                  border-radius: 5px / 5px;
                  background-color: #29aae1; }
              body .mainWrap #join > div .content .applyWrap .applyForm .fieldGroup table tr:first-child td {
                width: 46%; }
              body .mainWrap #join > div .content .applyWrap .applyForm .fieldGroup table tr:first-child td:first-child {
                margin-right: 4%; }
              body .mainWrap #join > div .content .applyWrap .applyForm .fieldGroup table tr:last-child td {
                width: 99%;
                position: relative; }
        body .mainWrap #join > div .content .arrowDown {
          height: 20%;
          width: 20%;
          margin: 6% auto;
          text-align: center; }
    body .mainWrap #join::after {
      content: "";
      background-color: #020000;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
      opacity: 0.45;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
    body .mainWrap #benefits {
      display: block;
      position: relative;
      background-repeat: no-repeat;
      background: url("../PSDs/imgs/benefitsBG.jpg");
      height: 672px; }
      body .mainWrap #benefits > div .contentText {
        height: 201.6px;
        width: 100%;
        z-index: 99;
        position: relative;
        padding-top: 67.2px;
        text-align: center; }
        body .mainWrap #benefits > div .contentText .title {
          font-size: 31px;
          font-weight: lighter; }
        body .mainWrap #benefits > div .contentText .subtitle {
          width: 50%;
          margin: 0 auto;
          font-size: 17px;
          font-weight: lighter; }
      body .mainWrap #benefits > div .companiesIcons {
        width: 80%;
        margin: 0 auto;
        height: 268.8px;
        z-index: 99;
        position: relative; }
        body .mainWrap #benefits > div .companiesIcons table {
          width: 75%;
          height: 100%;
          margin: 0 auto; }
        body .mainWrap #benefits > div .companiesIcons table tr {
          position: relative; }
        body .mainWrap #benefits > div .companiesIcons table tr td::before {
          content: "";
          background-color: white;
          width: 150px;
          height: 130px;
          -moz-border-radius: 5px / 5px;
          -webkit-border-radius: 5px 5px;
          border-radius: 5px / 5px;
          position: absolute;
          z-index: -1; }
        body .mainWrap #benefits > div .companiesIcons table tr td img {
          position: relative;
          left: 14px;
          top: 7px; }
      body .mainWrap #benefits > div .arrowDown {
        height: 20%;
        width: 20%;
        margin: 6% auto 0 auto;
        text-align: center;
        z-index: 99;
        position: relative; }
    body .mainWrap #benefits::after {
      content: "";
      background-color: #020000;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
      opacity: 0.45;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
    body .mainWrap #events {
      display: block;
      position: relative;
      background-repeat: no-repeat;
      background: url("../PSDs/imgs/eventsBG.jpg");
      height: 672px;
      display: flex; }
      body .mainWrap #events > div {
        z-index: 99;
        position: relative; }
        body .mainWrap #events > div .contentText {
          height: 201.6px;
          width: 100%;
          padding-top: 67.2px;
          text-align: center; }
          body .mainWrap #events > div .contentText .title {
            font-size: 31px;
            font-weight: lighter; }
          body .mainWrap #events > div .contentText .subtitle {
            width: 50%;
            margin: 0 auto;
            font-size: 17px;
            font-weight: lighter; }
        body .mainWrap #events > div .eventsList {
          width: 50%;
          height: 268.8px;
          margin: 0 auto; }
          body .mainWrap #events > div .eventsList .eventDetails {
            display: block;
            width: 82%;
            margin: 0 auto 2% auto;
            border: 1px solid white;
            -moz-border-radius: 5px / 5px;
            -webkit-border-radius: 5px 5px;
            border-radius: 5px / 5px;
            height: 40%; }
            body .mainWrap #events > div .eventsList .eventDetails .eventImage {
              float: left;
              width: 20%;
              height: 100%; }
              body .mainWrap #events > div .eventsList .eventDetails .eventImage img {
                width: 87%;
                height: 85%;
                margin: 9% 6%; }
            body .mainWrap #events > div .eventsList .eventDetails .eventText {
              float: left;
              width: 70%;
              height: 100%;
              text-align: left; }
              body .mainWrap #events > div .eventsList .eventDetails .eventText .eventName {
                font-size: 17px;
                font-weight: bold;
                padding-left: 2%;
                padding-right: 2%;
                margin: 4% 0 2% 0; }
              body .mainWrap #events > div .eventsList .eventDetails .eventText .eventDescription {
                font-size: 17px;
                font-weight: lighter;
                padding-left: 2%;
                padding-right: 2%;
                margin: 2% 0; }
    body .mainWrap #events::after {
      content: "";
      background-color: #020000;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
      opacity: 0.45;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
    body .mainWrap #contact {
      height: 270px;
      display: flex;
      background-color: black; }
      body .mainWrap #contact .contactOpt {
        width: 22%;
        height: 50%;
        text-align: center;
        margin: 5% auto; }
        body .mainWrap #contact .contactOpt .text {
          font-size: 31px;
          font-weight: lighter;
          width: 100%;
          height: 50%;
          display: block; }
        body .mainWrap #contact .contactOpt .contactBttn {
          width: 100%;
          height: 48%; }
          body .mainWrap #contact .contactOpt .contactBttn button {
            width: 100%;
            height: 50%;
            font-size: 17px;
            font-weight: bold;
            border: 1px solid white;
            -moz-border-radius: 5px / 5px;
            -webkit-border-radius: 5px 5px;
            border-radius: 5px / 5px;
            background-color: black; }
    body .mainWrap footer {
      width: 100%;
      height: 117px;
      background-color: #202020;
      font-size: 13.5px;
      font-weight: lighter; }
      body .mainWrap footer html, body .mainWrap footer body {
        height: 100%; }
      body .mainWrap footer #root {
        clear: both;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -24px; }
        body .mainWrap footer #root #root_footer {
          height: 24px; }
      body .mainWrap footer #footer {
        clear: both;
        position: relative;
        height: 24px; }
      body .mainWrap footer #footer {
        bottom: 65%; }
        body .mainWrap footer #footer div {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          padding-left: 64px; }
          body .mainWrap footer #footer div ul {
            margin: 0;
            padding: 0;
            border: 0;
            overflow: hidden;
            *zoom: 1; }
            body .mainWrap footer #footer div ul li {
              list-style-image: none;
              list-style-type: none;
              margin-left: 0;
              white-space: nowrap;
              float: left;
              padding-left: 12px;
              padding-right: 12px; }
              body .mainWrap footer #footer div ul li:first-child {
                padding-left: 0; }
              body .mainWrap footer #footer div ul li:last-child {
                padding-right: 0; }
              body .mainWrap footer #footer div ul li.last {
                padding-right: 0; }
        body .mainWrap footer #footer .collaborationIcons {
          width: 100%;
          padding-left: 0px;
          padding-right: 0px;
          margin-right: 0px; }
          body .mainWrap footer #footer .collaborationIcons span {
            float: right; }
        body .mainWrap footer #footer .socialIcons {
          width: 100%;
          height: 100%; }
          body .mainWrap footer #footer .socialIcons a img {
            width: 2%; }

/*# sourceMappingURL=main.css.map */
